# Flutter
.dart_tool/
.buildlog/
.packages
.pub/
build/

# Android
**/build/
**/.gradle/
**/captures/
**/local.properties

# iOS
**/Pods/
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec

# Misc
*.log
*.lock
.vscode/
.idea/
